.sec {
    padding: 100px 0;
}

.con {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    margin: 0 0 40px 0;
}

.title h2 {
    font-size: 36px;
    font-weight: 600;
}

.btn {
    border: 1px solid #222;
    padding: 11px 36px;
    border-radius: 20px;

}