* {
    outline: 1px solid tomato--;
}

#header {
    height: 100px;
    /* border-bottom: 1px solid var(--lc);
    box-sizing: border-box; */
}

.header_wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header_wrap h1 {
    line-height: 100px;
}

.header_wrap h1>a>img {
    height: 40px;
}

.header_wrap .header_right {
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header_wrap .header_right .util {
    height: 30px;
    border-bottom: 1px solid var(--lc);
    box-sizing: border-box;

}

.header_wrap .header_right .util>ul {
    display: flex;
    gap: 20px;
    justify-content: right;
    line-height: 30px;
    white-space: nowrap;
}

.header_wrap .header_right .gnb>ul {
    display: flex;
    gap: 40px;
    justify-content: right;
    line-height: 69px;
    white-space: nowrap;
}

.header_wrap .header_right .gnb>ul>li>a {
    font-size: 18px;
    font-weight: 600;
}

.header_wrap .m_btn {
    display: none;
}

@media (max-width:768px) {

    #header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: var(--wc);
        border-bottom: 1px solid var(--lc);
        box-sizing: border-box;
    }

    .header_right .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        width: calc(100% - 90px);
        background: var(--wc);
        height: 100vh;
        padding: 120px 0;
        border-right: 1px solid var(--lc);
        transition: left 0.5s;
    }

    .header_right .gnb.on {
        left: 0;
    }

    .header_right .gnb>ul {
        flex-direction: column;
        gap: 0;
    }

    .header_right .gnb>ul>li {
        padding: 15px 30px;
        border-bottom: 1px solid var(--lc);
        line-height: 1;
    }

    .header_right .gnb>ul>li>a {

        color: var(--dc);
    }

    .header_wrap .header_right .util {
        border: none;
        display: none;
    }

    .header_wrap .header_right .gnb>ul {
        text-align: left;
    }

    .header_wrap .m_btn {
        display: block;
    }

    .header_wrap .xi-bars {
        position: fixed;
        top: 30px;
        right: 15px;
        z-index: 999;

        padding: 3px;
        border: none;
        background: var(--pc);
        color: var(--wc);
        font-size: 30px;
    }
}

/* .visual_slideㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.visual_slide .itm {
    position: relative;
    height: 600px;
}

.visual_slide .itm01 {
    background: url(../images/main_visual01.png)no-repeat center center/cover;
}

.visual_slide .itm02 {
    background: url(../images/main_visual02.png) no-repeat center center/cover;
}


.visual_slide .itm03 {
    background: url(../images/main_visual03.png) no-repeat center center/cover;
}

.visual_slide .itm04 {
    background: url(../images/main_visual04.png) no-repeat center center/cover;
}

.visual_slide .itm05 {
    background: url(../images/main_visual05.png) no-repeat center center/cover;
}

.visual_slide .itm02 .slogan,
.visual_slide .itm05 .slogan {
    color: var(--wc);
}

.visual_slide .itm05 .slogan .btn {
    background: #333;
}

.visual_slide .slogan {
    position: absolute;
    top: 50%;
    left: calc((100% - 1200px) / 2);
    transform: translate(0, -50%);
}

.visual_slide .slogan span {
    display: block;
    margin: 0 0 15px 5px;
    font-size: 22px;
    font-weight: 500;
}

.visual_slide .slogan p {
    margin: 0 0 55px 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
}

.visual_slide .slogan p>strong {
    display: block;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}

.visual_slide .slogan .btn {
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: var(--wc);
    font-weight: 700;
}

.visual_slide .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    z-index: 999;

    font-size: 0;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: var(--wc);
    transition: 0.5s;
}

.visual_slide .slick-next {
    right: 150px;
}

.visual_slide:hover .slick-next {
    right: 250px;
}


.visual_slide .slick-next::after {
    content: "\e5cc";
}

.visual_slide .slick-prev {
    left: 150px;
}

.visual_slide:hover .slick-prev {
    left: 250px;
}

.visual_slide .slick-prev:after {
    content: "\e5cb";
}

.visual_slide .slick-next::after,
.visual_slide .slick-prev:after {
    font-family: material symbols outlined;
    font-size: 30px;
}

.visual_slide>.slick-dots {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);

    outline: none;
    line-height: 10px;

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.visual_slide .slick-dots>li {
    display: inline-block;

}

.visual_slide .slick-dots>li button {
    margin: 0 5px;
    border: none;
    border-radius: 50%;
    background: var(--wc);
    font-size: 0;
    padding: 5px;
}

.visual_slide .slick-dots>li.slick-active button {
    background: var(--pc);
}

@media (max-width:1200px) {
    .visual_slide .slick-arrow {
        top: 80%;
        transform: translate(0, 0);
    }

    .visual_slide .slick-next {
        left: 100px;
    }

    .visual_slide:hover .slick-next {
        left: 100px
    }

    .visual_slide .slick-prev {
        left: 15px;
    }

    .visual_slide:hover .slick-prev {
        left: 15px;
    }
}

@media (max-width:768px) {

    .visual_slide .itm {
        height: 400px;
        background-position: 60% center;
    }

    .visual_slide .slogan {
        left: 0;
    }

    .visual_slide .slogan span {
        font-size: 16px;
    }

    .visual_slide .slogan p {
        font-size: 24px;
        line-height: 30px;
    }

    .visual_slide .slogan p>strong {
        font-size: 36px;
        line-height: 40px;
    }

    .visual_slide>.slick-dots {
        top: 50px;
    }
}

@media (max-width:375px) {
    .visual_slide .itm {
        height: 500px;
    }

    .visual_slide .itm01 {
        background: url(../images/main_visual_m01.png)no-repeat center center/cover;
    }

    .visual_slide .itm02 {
        background: url(../images/main_visual_m02.png) no-repeat center center/cover;
    }


    .visual_slide .itm03 {
        background: url(../images/main_visual_m03.png) no-repeat center center/cover;
    }

    .visual_slide .itm04 {
        background: url(../images/main_visual_m04.png) no-repeat center center/cover;
    }

    .visual_slide .itm05 {
        background: url(../images/main_visual_m05.png) no-repeat center center/cover;
    }


    .visual_slide>.slick-dots {
        text-align: center;
    }

    .visual_slide .slogan {
        top: 100px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        max-width: 350px;
        width: 100%;
    }

    .visual_slide .slogan span {
        margin: 0 0 8px 0;
    }

    .visual_slide .slogan p {
        margin: 0 0 20px 0;
        font-size: 24px;
        line-height: 28px;
        word-break: keep-all;
    }

    .visual_slide .slogan p>strong {
        font-size: 30px;
        line-height: 34px;
    }

    .visual_slide .slogan .btn {
        border: none;
        background: rgba(0, 0, 0, 0.5);
        color: var(--wc);
        font-weight: 700;
    }
}

/* main_contentㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.main_content {}

.content_wrap {
    display: flex;
    gap: 60px;
}

.content_wrap {
    margin: 0 0 0 calc((100% - 1200px) / 2);
    padding: 0 0 0 15px;
}

.content_wrap>* {
    min-width: 0;
}

.left_content {
    position: relative;
    flex: 0 0 270px;
}

.left_content .tab_menu>li {
    margin: 0 0 12px 0;
    padding: 0 0 4px 0;
    border-bottom: 1px solid var(--dc);
    cursor: pointer;
    white-space: nowrap;
    width: 100px;
    transition: 0.5s;
}

.left_content .tab_menu>li.on {
    width: 200px;
}

.left_content .tab_menu>li button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
}

.right_contnet {}

.right_contnet .tab_con .swiper {
    visibility: hidden;
    height: 0;
}

.right_contnet .tab_con .swiper.on {
    visibility: visible;
    height: auto;
}

.right_contnet .swiper .swiper-wrapper {
    align-items: flex-end;
}

.right_contnet .swiper.on .swiper-slide {
    text-align: center;
}

.right_contnet .swiper.on .swiper-slide.swiper-slide-active {
    flex: 1 0 450px;
}

.right_contnet .swiper .swiper-slide a {
    display: block;
    border: 1px solid var(--lc);
    border-radius: 20px;
}

.right_contnet .swiper .swiper-slide img {
    object-fit: cover;
}

.right_contnet .swiper .swiper-slide .txt_box {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.right_contnet .swiper .swiper-slide.swiper-slide-active .txt_box {
    padding: 0 0 32px 0;
    opacity: 1;
    visibility: visible;
    height: auto;
}

.right_contnet .swiper .swiper-slide strong {
    display: block;
    margin: 0 0 8px 0;
    font-size: 18px;
    font-weight: 500;
}

.right_contnet .swiper .swiper-slide p {
    margin: 0 0 16px 0;
    font-size: 20px;
    font-weight: 600;
}

.right_contnet .swiper .swiper-slide span {
    font-size: 20px;
}

.swiper-pagination {
    top: initial !important;
    bottom: 0 !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--pc, --lc) !important;
}

@media (max-width:768px) {
    .content_wrap {
        margin: 0 0 0 0;
        padding: 0 15px 0 15px;
        flex-direction: column;
        gap: 40px;
    }

    .left_content {
        flex: none;
    }

    .left_content .tab_menu {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    .left_content .tab_menu>li {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border-bottom: 1px solid transparent;
        text-align: center;
        width: auto;
    }

    .left_content .tab_menu>li.on {
        width: auto;
    }

    .left_content .tab_menu>li button {
        display: block;
        padding: 10px 15px;
        border-radius: 20px;
        border: 1px solid var(--lc);
    }

    .left_content .tab_menu>li.on button {
        background: var(--pc);
        color: var(--wc);
    }

    .right_contnet .swiper.on .swiper-slide.swiper-slide-active {
        flex: none;
    }

    .right_contnet .swiper .swiper-slide .txt_box {
        padding: 0 0 32px 0;
        opacity: 1;
        visibility: visible;
        height: auto;
    }
}

@media (max-width:375px) {
    .left_content {
        text-align: center;
    }

    .left_content .tab_menu {
        gap: 10px 15px;
        justify-content: center;
    }
}

/* main_serviceㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.main_service {
    background: var(--sdc);
}

.service_wrap .inner {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.service_wrap .inner .itm {
    position: relative;
    height: 300px;
}

.service_wrap .inner .itm::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}

.service_wrap .inner .itm01 {
    background: url(../images/main_service_04.jpg) no-repeat center center/100% 300%;

}

.service_wrap .inner .itm02 {
    background: url(../images/main_service_03.jpg) no-repeat center center/cover;
}

.service_wrap .inner .itm03 {
    position: relative;
    background: url(../images/main_service_01.jpg) no-repeat center center/cover;
}

.service_wrap .inner .itm03::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 60%;
    height: 100%;
    background: url(../images/main_service02.png) no-repeat center center/cover;
}

.service_wrap .inner .itm04 {
    background: url(../images/main_service_01.jpg) no-repeat 0 0/cover;
}

.service_wrap .inner .itm:nth-child(even) {
    flex: 1 1 370px;
}

.service_wrap .inner .itm:nth-child(odd) {
    flex: 1 1 770px;
}

.service_wrap .inner .itm:nth-child(2) {
    order: -1;
}

.service_wrap .inner .itm .txt_box {
    position: absolute;
    top: 50%;
    left: 30px;
    padding: 20px;
    transform: translate(0, -50%);
    z-index: 999;
    color: var(--wc);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.service_wrap .inner .itm:nth-child(3) .txt_box {
    left: initial;
    right: 15px;
}

.service_wrap .inner .itm .txt_box h3 {
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.service_wrap .inner .itm .txt_box p {
    margin: 0 0 24px 0;
}

.service_wrap .inner .itm .txt_box .btn {
    border: none;
    background: var(--pc);

}

@media (max-width:768px) {
    .service_wrap .inner .itm:nth-child(even) {
        flex: 1 1 calc(50% - 15px);
    }

    .service_wrap .inner .itm:nth-child(odd) {
        flex: 1 1 calc(50% - 15px);
    }

    .service_wrap .inner .itm .txt_box {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 280px;
    }

    .service_wrap .inner .itm:nth-child(3) .txt_box {
        left: 50%;
        right: initial;
    }
}

@media (max-width:375px) {
    .service_wrap .inner .itm:nth-child(even) {
        flex: 1 1 100%;
    }

    .service_wrap .inner .itm:nth-child(odd) {
        flex: 1 1 100%;
    }
}

/* .main_review------------------------------ */
.main_review {}

.review_wrap .title {
    text-align: center;
}

.review_wrap .inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
}

.review_wrap .inner .itm {
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.review_wrap .inner .itm .img_area {
    height: 200px;
    overflow: hidden;
}

.review_wrap .inner .itm .img_area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review_wrap .inner .itm .txt_area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 30px 10px 15px 10px;
    min-height: 140px;
}

.review_wrap .inner .itm .txt_area p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    word-break: keep-all;
}

@media (max-width:375px) {
    .review_wrap .inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 30px;
    }

    .review_wrap .inner>*:nth-child(n+5) {
        display: none;
    }

    .review_wrap .inner .itm .img_area {
        height: 150px;
    }

    .review_wrap .inner .itm .txt_area p {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        word-break: keep-all;
    }

    .review_wrap .inner .itm .txt_area {
        padding: 15px 10px 15px 10px;
    }
}

/* .main_notice------------------------------ */

.main_notice {
    padding: 100px 0 0 0;
    background: url(../images/main_notice_bg.jpg) no-repeat center bottom/100% 100%;
}

.notice_wrap {
    height: 400px;
}

.notice_wrap .inner {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.notice_wrap .inner>* {
    height: 300px;
}

.notice_wrap .inner h3 {
    margin: 0 0 24px 0;
    font-size: 20px;
    font-weight: 600;
}

.notice_wrap .inner h3::after {
    content: "";
    display: block;
    margin: 15px 0 0 0;
    width: 20px;
    height: 2px;
    background: var(--pc);
}

.notice_wrap .inner .itm {
    padding: 15px 10px;
    background: var(--wc);
}

.notice_wrap .inner .news {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.notice_wrap .inner .news>* {
    flex: 1;
}

.notice_wrap .inner .right_box {
    flex: 2;
    display: flex;
    gap: 30px;
}

.notice_wrap .inner .right_box>* {
    flex: 1;
}


.notice_wrap .inner .itm ul li {
    position: relative;
    margin: 0 0 12px 10px;
}

.notice_wrap .inner .itm ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -7px;
    transform: translate(0, -50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--dc);
}

.notice_wrap .inner .adress ul li a {
    font-size: 36px;
    font-weight: 500;
}

.notice_wrap .inner .adress ul li::before {
    display: none;
}

@media (max-width:1200px) {
    .main_notice {
        background-size: cover;
    }
}

@media (max-width:768px) {
    .main_notice {
        padding: 100px 0 100px 0;
    }

    .notice_wrap {
        height: auto;
    }

    .notice_wrap .inner {
        flex-direction: column;
    }

    .notice_wrap .inner .news {
        flex-direction: row;
    }

}

@media (max-width:375px) {
    .notice_wrap .inner .news {
        flex-direction: column;
    }

    .notice_wrap .inner .right_box {
        flex-direction: column;
    }
}

/* footer------------------------------ */
.footer {
    background: var(--dc);
    padding: 50px 0 25px 0;
}

.footer_wrap {}

.footer_top {
    display: flex;
    margin: 0 0 16px 0;
    justify-content: space-between;
}

.footer_top ul {
    display: flex;
    gap: 30px;
    white-space: nowrap;
}

.footer_top ul li a {
    color: var(--lc);
    line-height: 50px;
}

.footer_top>ul>li strong {
    font-weight: 600;
}

.footer_top #familySite {
    border: none;
    background: transparent;
    outline: none;
    text-align: center;
    padding: 14px 40px;
    background: var(--wc);
    border-radius: 20px;
    font-size: 20px;
    appearance: none;
    cursor: pointer;
}

.footer_top #familySite option {
    border: none;
    font-size: 18px;
    font-weight: 300;
}

.footer_bottom {
    display: flex;
    margin: 0 0 24px 0;
    justify-content: space-between;
    align-items: center;
}

.footer_bottom>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 600px;
}

.footer_bottom>ul>li {
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    color: var(--lc);
}

.footer_bottom .sns {
    display: flex;
    gap: 15px;
}

.footer_bottom .sns a i {
    font-size: 24px;
    color: var(--lc);
}

.footer .copy {
    font-size: 14px;
    font-weight: 300;
    color: var(--lc);
}

@media (max-width:768px) {
    .footer_bottom>ul {
        width: 400px;
    }
}

@media (max-width:375px) {
    .footer_top {
        text-align: center;
    }

    .footer_top ul {
        justify-content: center;
    }

    .footer_bottom>ul {
        margin: 0 0 12px 0;
        width: 350px;
        justify-content: center;
    }

    .footer_top,
    .footer_bottom {
        flex-direction: column;
    }

    .footer .copy {
        text-align: center;
    }
}